@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
   font-family: Play;
   font-style: normal;
   user-select: none;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   box-sizing: border-box;
}

.main {
   position: relative;
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}





.container {
   max-width: 1440px;
   padding: 0px 20px;
   margin: 0px auto;
}

.page {

   &__skills {
      position: relative;
      z-index: 10;
   }

   &__projects {
      position: relative;
      z-index: 10;
      flex: 1 1 auto;
   }

   &__footer {
      position: relative;
      z-index: 10;
      width: 100%;
   }

   &__certification {
      position: relative;
      z-index: 10;
      width: 100%;
   }

   &__practice {
      position: relative;
      z-index: 10;
      width: 100%;
   }
}

.back-image {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
}

.title {
   text-align: center;
   font-size: 48px;
   line-height: 126.5%;
   color: #545385;
   font-weight: 700;
   margin: 0px 0px 40px 0px;
   @media(max-width: 1151px) {
      font-size: 40px;
   }

   @media(max-width: 1025px) {
      font-size: 35px;
      margin: 0px 0px 20px 0px;
   }

   @media(max-width: 901px) {
      font-size: 30px;
   }

   @media(max-width: 650px) {
      font-size: 27px;
      margin: 0px 0px 20px 0px;
   }

   @media(max-width: 426px) {
      font-size: 25px;
   }
}

.sub-title {
   text-align: center;
   font-weight: 700;
   font-size: 32px;
   line-height: 126.5%;
   color: #545385;
   @media(max-width: 1441px) {
      font-size: 28px;
   }

   @media(max-width: 1271px) {
      font-size: 24px;
   }

   @media(max-width: 1001px) {
      font-size: 20px;
   }
   @media(max-width: 650px) {
      font-size: 15px;
   }

   @media(max-width: 426px) {
      font-size: 14px;
   }
}
.text {
   text-align: center;
   font-weight: 400;
   font-size: 25px;
   line-height: 126.5%;
   color: #545385;
   @media(max-width: 1441px) {
      font-size: 22px;
   }

   @media(max-width: 1271px) {
      font-size: 18px;
   }

   @media(max-width: 1001px) {
      font-size: 16px;
   }
}
/*=================Main==================*/
/*=================Personal info==================*/

.personal-info {

   background-color: rgb(214, 237, 219);
   position: relative;
   &::before {
      content: "";
      height: 10%;
      width: 100%;
      background-color: rgb(214, 237, 219);
      position: absolute;
      bottom: 1px;
      left: 0;
      z-index: 15;
      transform: translate(48%, 100%) skew(45deg, 0deg);
   }
   @media(max-width: 650px) {
      &::before {
         content: none;
      }
   }

   &__container {
   }

   &__body {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }

   &__about {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px -20px 0px -20px;
      @media(max-width: 650px) {
         margin: 0px 0px 0px 0px;
         flex-direction: column-reverse;
      }
   }

   &__photo {
      padding: 0px 40px;
      flex: 1 1 50%;
      display: flex;
      justify-content: center;
      align-self: end;
      position: relative;
      z-index: 10;
      @media(max-width: 769px) {
         padding: 0px 20px;
      }
      @media(max-width: 650px) {
         padding: 0px 10px;
      }
      @media(max-width: 321px) {
         display: none;
      }
   }

   &__my-photo {
      position: relative;
      z-index: 2;
      width: 90%;
      @media(max-width: 1025px) {

      }
      @media(max-width: 651px) {
         width: 110%;
      }

   }

   &__photo-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
   }

   &__about-me {
      padding: 0px 40px;
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media(max-width: 769px) {
         padding: 0px 20px;
      }
      @media(max-width: 650px) {
         padding: 0px 10px;
      }
      
   }

   &__title {
      background-color: rgb(216, 233, 165);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      margin: 0px 50px 60px -50px;
      padding: 15px;
      @media(max-width: 921px) {
         margin: 0px 30px 40px -30px;
      }
      @media(max-width: 650px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__sumary {
      text-align: left;
      padding: 10px;
      background-color: rgb(198, 205, 236);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      z-index: 16;
      @media(max-width: 650px) {
         margin: 0px 0px 20px 0px;
      }
   }

}

/*=================Skills==================*/

.skills {

   &__container {
      width: 100%;
   }

   &__body {
      padding: 80px 0px 0px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 50px 0px;
      @media(max-width: 650px) {
         padding: 40px 0px 0px 0px;
         margin: 0px 0px 20px 0px;
      }
   }

   &__sub-title {

   }

   &__box {
      width: 100%;

      @media(max-width: 1001px) {
         margin: 0px 0px 20px 0px;
         width: 360px;
         height: 160px;
         padding: 10px 0px;
         overflow: hidden;
      }

      @media(max-width: 331px) {
         width: 330px;
      }

   }

   &__column {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;

      @media(max-width: 1001px) {
         justify-content: start;
      }
   }

   &__item {
      padding: 0px 30px;

      @media(max-width: 1441px) {
         padding: 0px 20px;
      }

      @media(max-width: 1271px) {
         font-size: 10px;
      }

      @media(max-width: 1001px) {
         padding: 0px 15px;
      }
   }

   &__buttons {
      display: none;

      @media(max-width: 1001px) {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }

   &__points {
      display: flex;
   }

   &__point {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: #545385;

      &:not(:last-child) {
         margin: 0px 10px 0px 0px;
      }
   }

   &__point-active {
      background-color: #191770;
      transform: scale(1.7);
   }

   &__left {
      margin: 0px 10px 0px 0px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #545385;
      transform: rotate(180deg);
   }

   &__right {
      margin: 0px 0px 0px 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #545385;
   }
}

.skill-column {

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: rgba(114, 119, 255, 0.2);
      box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.45);
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      @media(max-width: 1441px) {
         padding: 15px;
      }

      @media(max-width: 1271px) {
         padding: 10px;
      }

      &:hover {
         box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.45);
         transform: translate(0px, -5px) scale(1.01);
      }
   }

   &__title {
      margin: 0px 0px 10px 0px;
   }

   &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
         width: 100%;
      }

      @media(max-width: 1441px) {
         width: 90%;
         height: 90%;
      }

      @media(max-width: 1271px) {
         width: 70%;
         height: 70%;
      }

      @media(max-width: 1001px) {
         width: 70px;
         height: 70px;
      }

      @media(max-width: 331px) {
         width: 60px;
         height: 60px;
      }
   }
}

/*=================Certification==================*/

.certification {

   &__container {
   }

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 50px 0px;
   }

   &__title {
      
   }

   &__items {
      display: flex;
      justify-content: center;
      align-items: start;
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__certificate {
      max-width: 350px;
      text-align: center;
      margin: 0px 40px 10px 40px;
      @media(max-width: 650px) {
         margin: 0px 15px 5px 15px;
      }
   }

   &__image {
      box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.45);
      width: 100%;
      transition: all 0.2s ease-in-out;
      &:hover {
         transform: translate(0px, -5px) scale(1.02);
         box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.45);
      }
   }

   &__link {
      transition: all 0.1s ease-in-out;
      &:hover {
         color: #0008ff77;
         text-decoration: underline;
      }
   }
}

/*=================Practice==================*/

.practice {

   &__container {}

   &__body {
      margin: 0px 0px 50px 0px;
   }

   &__sub-title {
      
   }

   &__box {}

   &__column {
      display: flex;
      justify-content: center;
      align-items: start;
      @media(max-width: 650px) {
         flex-direction: column;
      }
   }

   &__item {
      flex: 1 1 33.33%;
      padding: 0px 15px;
      align-self: stretch;
      @media(max-width: 650px) {
         &:not(:last-child) {
            margin: 0px 0px 20px 0px;
         }
      }
      
   }
}

.practice-column {
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      background: rgba(114, 119, 255, 0.2);
      box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.45);
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      min-height: 100%;
      &:hover {
         box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, 0.45);
         transform: translate(0px, -5px) scale(1.01);
      }
   }

   &__title {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      margin: 0px 0px 20px 0px;
      background-color: rgb(216, 233, 165);
      @media(max-width: 769px) {
         margin: 0px 0px 15px 0px;
      }
   }

   &__logo {
      width: 30px;
      margin: 0px 10px 0px 0px;
      border-radius: 5px;
      @media(max-width: 769px) {
         width: 25px;   
      }
   }

   &__text {
      transition: all 0.1s ease-in-out;
      &::after{
         content: '';
         padding-left: 30px;
         background: url('../img/external-link.svg') 0 2px/ 100% 100% no-repeat;
      }
      &:hover {
         color: #0008ff77;
         text-decoration: underline;
      }
      @media(max-width: 650px) {
         font-size: 20px;
      }
   }

   &__description {
      padding:0px 20px;
      height: 100%;
      flex: 1 1 auto;
      text-align: left;
      margin: 0px 0px 20px 0px;
      @media(max-width: 769px) {
         padding: 0px 20px;
      }
   
      @media(max-width: 650px) {
         padding: 0px 10px;
         margin: 0px 0px 15px 0px;
      }
   }

   &__progress {
      padding: 0px 20px;
      margin: 0px 0px 20px 0px;
      text-align: left;
      img {
         padding: 5px;
         width: 100%;
      }
      @media(max-width: 769px) {
         padding: 0px 20px;
      }

      @media(max-width: 650px) {
         padding: 0px 10px;
         margin: 0px 0px 15px 0px;
      }
   }

   &__progress-small{
      display: none;
      @media(max-width: 769px) {
         display: block;
      }
      @media(max-width: 650px) {
         display: none;
      }
   }

   &__progress-big {
      @media(max-width: 769px) {
         display: none;
      }
      @media(max-width: 650px) {
         display: block;
      }
   }
}

/*=================Projects==================*/

.projects {

   &__container {}

   &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 50px 0px;
      @media(max-width: 769px) {
         margin: 0px 0px 50px 0px;
      }
   }

   &__title {
     
   }

   &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 80px;
      @media (max-width: 1221px) {
         padding: 0px 60px;
      }
      @media (max-width: 1025px) {
         padding: 0px 30px;
      }
      @media (max-width: 769px) {
         padding: 0px 10px;
      }
   }

   &__box-container {
      width: 100%;
      margin: 0px 0px 70px 0px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas:
            "exempl-1" 
            "exempl-2"
            "exempl-3"
            "exempl-4"
            "exempl-5"
            "exempl-6"
            "exempl-7"
            "exempl-8"
            "exempl-9";
      row-gap: 70px;
      @media (max-width: 769px) {
         row-gap: 50px;
         margin: 0px 0px 50px 0px;
      }
   
      @media (max-width: 651) {
         row-gap: 10px;
         margin: 0px 0px 30px 0px;
      }
   }

   &__box-container-hide {
      grid-template-areas:
            "exempl-1"
            "exempl-2"
            "exempl-3"
            "exempl-4"
            "exempl-5"
            "exempl-6";
   }

   &__exmpl {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 25% 75%;
      grid-template-areas: 
         "images header-name"
         "images information";
      @media (max-width: 1221px) {
         grid-template-columns: 50% 50%;
      }
      @media (max-width: 1025px) {
         grid-template-columns: 55% 45%;
      }
   
      @media (max-width: 651px) {
         grid-template-columns: 100%;
         grid-template-rows: 1fr;
         grid-template-areas:
               "header-name"
               "images"
               "information";
         border-radius: 5px;
         overflow: hidden;
         box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      }
   }

   &__exmpl-left {
      grid-template-columns: 40% 60%;
      grid-template-rows: 25% 75%;
      grid-template-areas:
         "header-name images"
         "information images";
      @media (max-width: 1221px) {
         grid-template-columns: 50% 50%;
      }
      @media (max-width: 1025px) {
         grid-template-columns: 45% 55%;
      }
      @media (max-width: 651px) {
         grid-template-columns: 100%;
         grid-template-rows: 1fr;
         grid-template-areas:
               "header-name"
               "images"
               "information";
      }
   }

   &__exmpl-none {
      display: none;
   }



   &__header {
      grid-area: header-name;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      margin: 0px 0px 0px -60px;
      padding: 10px 10px;
      z-index: 11;
      @media (max-width: 651px) {
         justify-content: start;
         align-items: start;
         background-color: rgb(216, 233, 165);
         margin: 0px 0px 0px 0px;
      }
   }

   &__header-left {
      align-items: start;
      margin: 0px -60px 0px 0px;
      @media (max-width: 651px) {
         margin: 0px 0px 0px 0px;
         background-color: rgb(198, 205, 236);
      }
   }

   &__type {}

   &__name {
      margin: 0px 0px 0px 0px;
   }

   &__information {
      grid-area: information;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: start;
      margin: 0px 0px 0px -60px;
      z-index: 12;
      @media (max-width: 701px) {
         margin: 0px 0px 0px -20px;
      }
      @media (max-width: 651px) {
         align-items: start;
         background-color: rgb(216, 233, 165);
         margin: 0px 0px 0px 0px;
      }
   }

   &__information-left {
      align-items: start;
      margin: 0px -60px 0px 0px;
      @media (max-width: 701px) {
         margin: 0px -20px 0px 0px;
      }
      @media (max-width: 651px) {
         margin: 0px 0px 0px 0px;
         background-color: rgb(198, 205, 236);
      }
   }

   &__description {
      text-align: right;
      background-color: rgb(216, 233, 165);
      border-radius: 15px;
      padding: 15px;
      margin: 0px 0px 10px 0px;
      box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      @media (max-width: 651px) {
         text-align: left;
         border-radius: 0px;
         box-shadow: none;
      }
   }

   &__description-left {
      text-align: left;
      background-color: rgb(198, 205, 236);
   }

   &__stacks {
      padding: 0px 15px;
   }

   &__link {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0px 15px;
      margin: 0px 0px 10px 0px;
      img{
         width: 20px;
         height: 20px;
         border-radius: 5px;
      }
   }

   &__source {
      margin: 0px 0px 0px 10px;
      &::after {
         content: '';
         padding-left: 30px;
         background: url('../img/external-link.svg') 0 0/ 100% 100% no-repeat;
      }
      &:hover {
         color: #0008ff77;
         text-decoration: underline;
      }
   }

   &__wrapper-box {
      grid-area: images;
      position: relative;
      height: 100%;
   }

   &__cover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
      width: 100%;
      height: 100%;
      opacity: 1;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      transition: all 0.3s ease-in-out;
      background-color: rgba(198, 205, 236, 0.7);
      &:hover {
         opacity: 0;
      }
      @media (max-width: 651px) {
         align-items: end;
         border-radius: 0px;
      }
   }

   &__cover-left{
      align-items: end;
      background-color: rgba(216, 233, 165, 0.7);
   }

   &__cover-text {
      padding: 5px;
      border-radius: 3px;
      background-color: rgb(198, 205, 236);
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.45);
      &::after {
         content: '';
         padding-left: 30px;
         background: url('../img/external-link.svg') 0 0/ 100% 100% no-repeat;
      }
   }

   &__cover-text-left {
      background-color: rgb(216, 233, 165);
   }

   &__image {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   
   &__image-animation {
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 100%;
   }

   &__image-animation-pc {
      
   }

   &__image-item {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: all 4s ease-in-out;
      box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      @media (max-width: 651px) {
         object-fit: fill;
         border-radius: 0px;
      }
   }

   &__image-item-abs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 4s ease-in-out;
   }

   &__image-item-active {
      opacity: 1;
      z-index: 10;
      transition: all 4s ease-in-out;
   }

   &__show-hide {
      background-color: rgb(216, 233, 165);
      box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.45);
      border-radius: 5px;
      width: 200px;
      height: 60px;
      font-size: 22px;
      transition: all 0.2s ease-in-out;
      &:hover {
         background-color: rgb(198, 205, 236);
      }
      &:active {
         box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.45);
      }
   }
}

/*=================Footer==================*/

.footer {

   &__container {
      border-top: 2px solid #545385;
   }

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 20px 0px;
      padding-top: 30px;
   }

   &__title {
      
   }

   &__net-works {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 0px 20px 0px;
      @media(max-width: 769px) {
         justify-content: space-around;
         flex-wrap: wrap;
      }
      
   }

   &__logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s ease-in-out;
      &:hover {
         transform: translate(0px, -3px) scale(1.01);
      }
      &:not(:last-child){
         margin: 0px 30px 0px 0px;
      }
      @media(max-width: 851px) {
         &:not(:last-child) {
            margin: 0px 15px 0px 0px;
         }
      }
      @media(max-width: 769px) {
         &:not(:last-child) {
            margin: 0px 5px 10px 5px;
         }
         flex: 0 0 20%;
      }
   }

   &__logo-image {
      width: 70px;
      border-radius: 15px;
      height: 70px;
      margin: 0px 0px 5px 0px;
      @media(max-width: 851px) {
         width: 60px;
         height: 60px;
         font-size: 18px;
      }
      @media(max-width: 426px) {
         width: 50px;
         height: 50px;
      }
   }

   &__logo-text {
      text-align: center;
      &:hover {
         color: #0008ff77;
         text-decoration: underline;
      }
   }

   &__mail {
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      &:hover {
         transform: translate(0px, -3px) scale(1.01);
      }
   }

   &__logo-mail {
      border-radius: 0px;
      margin: 0px 30px 0px 0px;
      @media(max-width: 424px) {
         margin: 0px 20px 0px 0px;
      }
   }

   &__mail-link {
      padding: 8px;
      @media(max-width: 424px){
         font-size: 14px;
      }
      &:hover {
         color: #0008ff77;
         text-decoration: underline;
      }
   }
}